body {
    text-align: center;
}

.title {
    width: 100%;
}

.title img {
    width: 50%;
}

.title h1 {
    font-family: serif;
    font-size: 48px;
}

.coursegroup {
    margin-bottom: 50px;
}

.coursegroup h2 {
    margin-top: 50px;
    font-size: 36px;
}

.course {
    padding: 20px;
}

.course img {
    height: 120px;
}